@media only screen and (min-width:768px) and (max-width:1300px) {
    header {
        display: block;
        width: 100%;
    }

    .navigation {
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .logo {
        display: flex;
        height: 45px;
        width: 91%;
        margin-top: 2%;
        justify-content: center;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
        margin-top: 0rem;
        height: 300px;
        gap: 7%;
        font-size: 18px;

    }

    .hamburger-icon .fa-bars,
    .hamburger-icon .fa-x {
        font-size: 2rem;
        position: absolute;
        top: 1em;
    }

    .hamburger-icon {
        display: block;
    }

    .fa-x {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }

    div#slider {
        width: 102%;
    }

    section.section3 {
        width: 100%;
    }

    .section4 {
        width: 100%;
    }

    .icon {
        font-size: 18px;
    }

    .section5 {
        width: 100%;
        height: 63vw;
    }

    p.dis {
        line-height: 0vw;

    }

    p.now {
        line-height: 6vw;
    }

    iframe {
        height: 34vw;
    }

    h2.header {
        width: 33%;

    }

    .ads1 {
        width: 94%;
        height: 34vw;
    }

    .para {
        width: 97%;
        line-height: 9vw;
        font-size: 16px;

    }

    section#game {
        height: 64vw;
    }

    .h2 {
        line-height: 5vw;
        width: 84%;
    }

    .p1 {
        width: 38vw;
    }

    .holiday {
        width: 45%;
    }

    .car {
        gap: 0%;
    }

    .car img {
        width: 90%;
        padding: 0;
        height: 43vw;
        margin: 5%;
    }

    .disc {
        line-height: 5vw;
        width: 96%;
    }

    .more {
        width: 40vw;
    }

    .inp {
        margin: 3%;
    }

    .left img {
        height: 28vw;
        width: 84%;
    }

    .right img {
        height: 28vw;
        width: 93%;
    }

    .section1 {
        width: 98%;
    }


    .tittle {
        line-height: 5vw;
        height: 6vw;
    }

    .wrap {
        height: 8vw;
    }

    img.city1 {
        width: 32%;
    }

    .full-games {
        height: 59vw;
    }

    .tilegroup {
        height: 16%;
    }

    footer {
        width: 100%;
    }

    ul.foot {
        font-size: 10px;
        width: 100%;
        font-weight: 600;
    }

    .items ul {
        display: flex;
        gap: 6%;
    }

    h3 {
        width: 30%;
    }

    .bar img {
        height: 34vw;
    }

    .line {
        font-size: 14px;
        font-weight: 600;
    }

    .menu {
        gap: 32%;
    }

    img.diney1 {
        height: 20vw;
        padding-left: 0%;
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    header {
        display: block;
        width: 132%;
    }

    .navigation {
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .hamburger-icon {
        display: block;
    }

    .fa-x {
        display: none;
    }

    .logo {
        display: flex;
        height: 142px;
        width: 312%;
        margin-top: 2%;
        justify-content: center;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
        margin-top: 0rem;
        height: 545px;
        gap: 9%;
        width: 301%;
        font-size: 41px
    }

    .hamburger-icon .fa-bars,
    .hamburger-icon .fa-x {
        font-size: 5rem;
        position: absolute;
        top: 44px;

    }

    .navigation a {
        font-size: 40px;
        font-weight: 600;
        color: #000000;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }

    div#slider {
        width: 395%;
    }

    div#slider figure img {
        height: 216vw;
    }

    .hero {
        display: flex;
        width: 99%;
    }

    .cont img {
        height: 140vw;
        width: 88%;
        margin: 7%;
    }

    .menu1 {
        height: 159vw;
        width: 25%;
    }

    .shopping1 {
        margin: 1%;
        width: 97%;
        height: 19vw;
    }

    .ads1 {
        height: 129vw;
    }

    iframe {
        height: 128vw;
    }

    h2.header {
        font-size: 89px;
        width: 31%;

    }

    .section2,
    .section3,
    .section4,
    .section4 {
        width: 395%;
    }

    p.para {
        width: 96%;
        font-size: 43px;
    }

    .h2 {
        width: 71%;
        font-size: 46px;
    }

    .bar img {
        height: 127vw;
    }

    .p1 {
        width: 73%;
        font-size: 32px;
    }

    .holiday {
        font-size: 83px;
        font-weight: 400;
        height: 36vw;
        line-height: 56vw;
        width: 39%;
    }

    .car {
        width: 93%;
        margin: 4%;
    }

    .more {
        width: 36%;
        font-weight: 400;
        line-height: 62vw;
        height: 44vw;
        font-size: 78px;

    }

    .car img {
        width: 100%;
    }

    .call,
    .welcome,
    .phone {
        width: 45%;
    }

    .force {
        width: 105%;
        font-size: 44px;
        height: 27vw;
    }

    .disc {
        font-size: 35px;
    }

    .tittle {
        font-size: 56px;
        width: 114%;
        line-height: 10vw;
        height: 11vw;
    }

    .wrap {
        width: 128%;
        font-size: 28px;
    }

    .category {
        line-height: 9;
        font-size: 33px;
        width: 42%;
        height: 52vw;
    }

    .inp {
        line-height: 13vw;
        width: 73%;
        gap: 17%;
        width: 84%;
        height: 165vw;
        margin: 4%;
    }

    .section5 {
        width: 390%;
    }

    .left img,
    .right img {
        height: 125vw;
        width: 126%;
        max-width: 162%;
    }

    .full-games {
        height: 235vw;
    }

    .tilegroup h3 {
        width: 94%;
        height: 53vw;
        font-weight: 300;
        line-height: 2;
        font-size: 158px;

    }

    .games,
    .games1 {
        display: flex;
        width: 383%;
        height: 75vw;
    }

    img.city1 {
        height: 70vw;

    }

    footer {
        width: 393%;
        height: 100vw;
    }

    img.diney1 {
        height: 29pc;
        padding-left: 2%;
    }

    .items ul {
        font-size: 42px;
    }

    .icon {
        font-size: 66px;
    }

    .img img {
        height: 89px;
    }

    ul.foot {
        font-size: 28px;
        font-weight: bold;
    }

    ul.cost {
        font-size: 43px;
        line-height: 28vw;
    }

    .hi {
        height: 33vw;
    }

    .line {
        font-size: 64px;
    }
    section.section3, section.section4, section.section5 {
        width: 400%;
        
}
}


@media only screen and (min-width:300px) and (max-width:575px) {
    header {
        display: block;
        width: 99%;
    }

    .navigation {
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .logo {
        display: flex;
        height: 48px;
        width: 102%;
        margin-top: 3%;
        justify-content: center;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
        margin-top: 0rem;
        height: 300px;
        gap: 7%;
        font-size: 18px;
    }

    .hamburger-icon .fa-bars,
    .hamburger-icon .fa-x {
        font-size: 2rem;
        position: absolute;
        top: 26px;
    }

    .hamburger-icon {
        display: block;
    }

    .fa-x {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }

    div#slider figure img {
        height: 400px;
    }

    .hero {
        flex-direction: column;
        padding: 5% 10%;
        gap: 40px;
        align-items: center;
        text-align: center;
    }

    .cont img {
        height: 100vw;
    }

    .shopping1 {
        height: 20vw;
        width: 101%;
    }
    h1{
        line-height: 23vw;
        width: 90%;
        height: 27vw;
    }

    .zani {
        display: flex;
        flex-direction: column;
    }

    .para {
        font-size: 17px;
        width: 223%;
    }

    .ads1 {
        width: 224%;
        margin-left: 14px;
    }


    .h2 {
        width: 100%;

    }

    iframe {
        width: 125%;
    }

    .p1 {
        width: 107%;
        margin-left: 9%;
        font-size: 13px;
    }
    .spiderman {
        width: 70%;
        margin-left: 27px;
    }

    .car {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .inp {
        width: 100%;
        height: 221vw;
        flex-direction: column;
        align-items: center;
    }

    .gap {
        width: 83%;
    }

    .inline {
        width: 83%;
    }

    .left img,
    .right img {
        width: 100%;
        height: 287px;
        line-height: 100px;
    }

    .tittle {
        line-height: 100px;
        height: 22vw;
        width: 102%;
    }

    section.section3,
    .section4,
    .section5 {
        width: 100%;
    }

    .wrap {
        width: 96%;
    }

    .category {
        line-height: 125px;
        height: 21vw;
        text-align: center;
        width: 86%
    }

    .disc {
        height: 9vw;
    }

    .games,
    .games1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 181vw;
    }

    .full-games {
        height: 420vw;
    }

    h3 {
        height: 41vw;
        line-height: 52vw;
        width: 49%;
        font-size: 42px;
    }

    .bar {
        height: auto;
        position: relative;
        overflow: unset;
    }

    .bar img {
        display: block;
        width: 224%;
        height: 61vw;

    }

    .wra {
        width: 101%;
        text-align: center;
    }

    img.city1 {
        width: 91%;
        height: 61vw;
    }

    .car img {
        width: 319px;
    }
    
    .footer {
        width: 100%;
    }
    .end {
        flex-direction: column;

    }
    img.diney1 {
        width: 200px;
        height: 167px;
    }
    
    .menu {
        flex-direction: column;
        align-items: center;
        margin: -6% 4%;
    }

    .items ul {
        flex-direction: column;
        text-align: center;
    }


    .icon {
        line-height: 39vw;
    }

    .foot {
        font-size: 58%;
        justify-content: center;
        gap: 20px;
        align-items: center;
        flex-direction: column;
        color: black;
    }
    
    
    .cost {
        font-size: 58%;
        justify-content: center;
        gap: 19px;
        align-items: center;
        flex-direction: column;
        color: black;
    }

    .line {
        width: 95%;
    }

}