*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.hamburger-icon {
    display: none;
}

header {  
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-text {
    color: rgb(0, 0, 0);
}

.hamburger-icon {
    border: none;
    background-color: transparent;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x {
    color: rgb(24, 23, 23);
    font-size: 1rem;
    cursor: pointer;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}

.navigation {
    display: flex;
    gap: 3rem;
    width: 90%;
}

.navigation a {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    
}
.good{
    display: flex;
    justify-content: center;
    gap: 1%;
}
.box{
    display: flex;
    justify-content: center;
    gap: 1%;
}

.good img {
    border-radius: 10px;

}
section.section1,section.section2,section.section3,section.section4{
    padding-top:3% ;
    width: 97%;
    margin: auto;
}

section h2{
    padding-bottom: 32px;
}
/* .box {
    display: flex;
    gap: 1%;
    justify-content: center;
} */

.box img {
    width: 15%;
    height: 10vw;
    border-radius: 10px;
}

.box img:hover {
    border: 1px solid black;

}
.bad{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.bad img {
    border-radius: 8px;
    transition: 0.1s ease-in-out;
}

.bad img:hover {
    transform: scaleX(1.6);
}
.art {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.art img {
    border-radius: 8px;
    transition: 0.1s ease-in;
}

.art img:hover {
    transform: scaleX(1.6);
}

.glass {
    display: flex;
    gap: 22%;
    height: 9vw;
    justify-content: center;
}
.end {
    display: flex;
    align-items: center;
    font-size: 3px;
}
img.diney1 {
    padding-left: 2%;
}
.items ul {
    display: flex;
    gap: 9%;
    width: 310px;
    font-size: 15px;
    font-weight: bold;
}
a {
      color: #000000;
    }

.img {
    text-align: center;
}
.hi {
    color: #101011c4;
}
.foot ,.cost{
    display: flex;
    font-size: 14px;
    gap: 3%;
    justify-content: center;
    font-weight: 500;
}
.line {
    text-align: center;
    color: #101011c4;
    height: 60px;
    line-height: 6vw;
} 
h3 {
    text-align: center;
    width: 15%;
    height: 5vw;
    font-weight: 200;
    line-height: 4;
    font-size: 33px;
}
.footer {
    background-color: #eeeeee; 
}

.menu{
    display: flex;
    width: 100%;
   gap: 55%;
}
.icon{
    font-size: 30px;
}
